Repository Eastrall/Rhisis, pull requests merged in 2018-03, with the labels that each got.

#45 [StatisticsSystem] Refactor with Pattern Matching & fixed status update type.
  src/Rhisis.World/Packets/StatisticsPackets.cs
  src/Rhisis.World/Systems/StatisticsSystem.cs
Labels: bug, enhancement

#46 Add CreateAccountWindow on Installer
  src/Rhisis.Core/Common/AccountType.cs
  src/tools/Rhisis.Installer/App.xaml.cs
  src/tools/Rhisis.Installer/Models/AccountModel.cs
  src/tools/Rhisis.Installer/Resources/Images/users.png
  src/tools/Rhisis.Installer/Resources/Translations/App.fr.xaml
  src/tools/Rhisis.Installer/Resources/Translations/App.xaml
  src/tools/Rhisis.Installer/Rhisis.Installer.csproj
  src/tools/Rhisis.Installer/ViewModels/CreateAccountViewModel.cs
  src/tools/Rhisis.Installer/ViewModels/DatabaseConfigurationViewModel.cs
  src/tools/Rhisis.Installer/ViewModels/MainViewModel.cs
  src/tools/Rhisis.Installer/Views/CreateAccountWindow.xaml
  src/tools/Rhisis.Installer/Views/CreateAccountWindow.xaml.cs
  src/tools/Rhisis.Installer/Views/DatabaseConfigurationWindow.xaml
  src/tools/Rhisis.Installer/Views/MainWindow.xaml
Labels: tool

#48 Window to create account in database
  src/Rhisis.Core/Cryptography/Md5.cs
  src/tools/Rhisis.Installer/App.xaml.cs
  src/tools/Rhisis.Installer/Resources/Translations/App.fr.xaml
  src/tools/Rhisis.Installer/Resources/Translations/App.xaml
  src/tools/Rhisis.Installer/Rhisis.Installer.csproj
  src/tools/Rhisis.Installer/ViewModels/CreateAccountViewModel.cs
  src/tools/Rhisis.Installer/ViewModels/GeneratePasswordViewModel.cs
  src/tools/Rhisis.Installer/ViewModels/MainViewModel.cs
  src/tools/Rhisis.Installer/Views/CreateAccountWindow.xaml
  src/tools/Rhisis.Installer/Views/GeneratePasswordWindow.xaml
  src/tools/Rhisis.Installer/Views/GeneratePasswordWindow.xaml.cs
Labels: tool

#49 Refactoring of ChatSystemEventArgs
  src/Rhisis.World/Game/Core/SystemEventArgs.cs
  src/Rhisis.World/Systems/ChatSystem.cs
  src/Rhisis.World/Systems/Events/ChatEventArgs.cs
  src/Rhisis.World/WorldClient.cs
  src/Rhisis.World/WorldServer.cs
Labels: enhancement, world-server

#50 [POC] Add a IWorldServer interface to query the WorldServer
  src/Rhisis.World/Handlers/ChatHandler.cs
  src/Rhisis.World/IWorldServer.cs
  src/Rhisis.World/WorldClient.cs
  src/Rhisis.World/WorldServer.cs
Labels: discussion, enhancement, world-server

#53 Refactoring of system and fix inventory save process
  bin/rhisis-installer.bat
  src/Rhisis.Core/Structures/Game/ItemBase.cs
  src/Rhisis.World/Game/Chat/CreateItemCommand.cs
  src/Rhisis.World/Game/Core/Context.cs
  src/Rhisis.World/Game/Core/Interfaces/IContext.cs
  src/Rhisis.World/Game/Core/Interfaces/INotifiableSystem.cs
  src/Rhisis.World/Game/Core/NotifiableSystemBase.cs
  src/Rhisis.World/Game/Core/SystemEventArgs.cs
  src/Rhisis.World/Game/Structures/Item.cs
  src/Rhisis.World/Handlers/ChatHandler.cs
  src/Rhisis.World/Handlers/InventoryHandler.cs
  src/Rhisis.World/Handlers/JoinGameHandler.cs
  src/Rhisis.World/Handlers/StatisticsHandler.cs
  src/Rhisis.World/Packets/SpawnPackets.cs
  src/Rhisis.World/Systems/Chat/ChatEventArgs.cs
  src/Rhisis.World/Systems/Chat/ChatSystem.cs
  src/Rhisis.World/Systems/Inventory/InventoryActionType.cs
  src/Rhisis.World/Systems/Inventory/InventoryCreateItemEventArgs.cs
  src/Rhisis.World/Systems/Inventory/InventoryEventArgs.cs
  src/Rhisis.World/Systems/Inventory/InventorySystem.cs
  src/Rhisis.World/Systems/NpcShop/NpcShopSystem.cs
  src/Rhisis.World/Systems/Statistics/StatisticsActionType.cs
  src/Rhisis.World/Systems/Statistics/StatisticsEventArgs.cs
  src/Rhisis.World/Systems/Statistics/StatisticsSystem.cs
  src/Rhisis.World/WorldClient.cs
  src/Rhisis.World/WorldLoader.cs
Labels: enhancement, refactoring, world-server

#54 Update ether
  src/Rhisis.Cluster/ClusterClient.cs
  src/Rhisis.Cluster/ClusterHandler.cs
  src/Rhisis.Cluster/ClusterServer.cs
  src/Rhisis.Cluster/ISC/ISCClient.cs
  src/Rhisis.Cluster/ISC/ISCHandler.cs
  src/Rhisis.Cluster/ISC/ISCPackets.cs
  src/Rhisis.Cluster/LoginProtect.cs
  src/Rhisis.Cluster/Packets/ClusterPacketFactory.cs
  src/Rhisis.Cluster/Program.cs
  src/Rhisis.Cluster/Rhisis.Cluster.csproj
  src/Rhisis.Core/Network/FFPacket.cs
  src/Rhisis.Core/Network/FlyffPacketProcessor.cs
  src/Rhisis.Core/Network/PacketHandlers.cs
  src/Rhisis.Core/Network/Packets/Cluster/CreatePlayerPacket.cs
  src/Rhisis.Core/Network/Packets/Cluster/DeletePlayerPacket.cs
  src/Rhisis.Core/Network/Packets/Cluster/GetPlayerListPacket.cs
  src/Rhisis.Core/Network/Packets/Cluster/PreJoinPacket.cs
  src/Rhisis.Core/Network/Packets/CommonPacketFactory.cs
  src/Rhisis.Core/Network/Packets/Login/CertifyPacket.cs
  src/Rhisis.Core/Network/Packets/PacketHeader.cs
  src/Rhisis.Core/Network/Packets/PingPacket.cs
  src/Rhisis.Core/Network/Packets/World/ChatPacket.cs
  src/Rhisis.Core/Network/Packets/World/EquipItemPacket.cs
  src/Rhisis.Core/Network/Packets/World/JoinPacket.cs
  src/Rhisis.Core/Network/Packets/World/ModifyStatusPacket.cs
  src/Rhisis.Core/Network/Packets/World/MoveItemPacket.cs
  src/Rhisis.Core/Network/Packets/World/OpenShopWindowPacket.cs
  src/Rhisis.Core/Network/Packets/World/SetDestPositionPacket.cs
  src/Rhisis.Core/Rhisis.Core.csproj
  src/Rhisis.Login/ISC/ISCAuthenticationHandler.cs
  src/Rhisis.Login/ISC/ISCClient.cs
  src/Rhisis.Login/ISC/ISCServer.cs
  src/Rhisis.Login/ISC/Packets/AuthenticationPackets.cs
  src/Rhisis.Login/LoginClient.cs
  src/Rhisis.Login/LoginHandler.cs
  src/Rhisis.Login/LoginServer.cs
  src/Rhisis.Login/Packets/LoginPacketFactory.cs
  src/Rhisis.Login/Rhisis.Login.csproj
  src/Rhisis.World/Game/Components/ItemContainerComponent.cs
  src/Rhisis.World/Game/Entities/IPlayerEntity.cs
  src/Rhisis.World/Game/Entities/PlayerEntity.cs
  src/Rhisis.World/Game/Structures/Item.cs
  src/Rhisis.World/Handlers/ChatHandler.cs
  src/Rhisis.World/Handlers/InventoryHandler.cs
  src/Rhisis.World/Handlers/JoinGameHandler.cs
  src/Rhisis.World/Handlers/MovementHandler.cs
  src/Rhisis.World/Handlers/NpcShopHandler.cs
  src/Rhisis.World/Handlers/SnapshotHandler.cs
  src/Rhisis.World/Handlers/StatisticsHandler.cs
  src/Rhisis.World/ISC/ISCClient.cs
  src/Rhisis.World/ISC/ISCHandler.cs
  src/Rhisis.World/ISC/ISCPackets.cs
  src/Rhisis.World/Packets/WorldPacketFactory.cs
  src/Rhisis.World/Rhisis.World.csproj
  src/Rhisis.World/WorldClient.cs
  src/Rhisis.World/WorldServer.cs
Labels: cluster-server, core, enhancement, login-server, refactoring, world-server

#55 Buy items at shops
  script/compile_solution.bat
  src/Rhisis.Core/Data/DefineAttributes.cs
  src/Rhisis.Core/Data/DefineText.cs
  src/Rhisis.Core/Data/UpdateItemType.cs
  src/Rhisis.Core/Network/Packets/World/BuyItemPacket.cs
  src/Rhisis.Core/Structures/Game/ItemData.cs
  src/Rhisis.World/Game/Components/ItemContainerComponent.cs
  src/Rhisis.World/Game/Components/PlayerComponent.cs
  src/Rhisis.World/Handlers/JoinGameHandler.cs
  src/Rhisis.World/Handlers/NpcShopHandler.cs
  src/Rhisis.World/Packets/InventoryPackets.cs
  src/Rhisis.World/Packets/SpawnPackets.cs
  src/Rhisis.World/Packets/WorldPacketFactory.cs
  src/Rhisis.World/Systems/Inventory/InventorySystem.cs
  src/Rhisis.World/Systems/NpcShop/NpcShopBuyItemEventArgs.cs
  src/Rhisis.World/Systems/NpcShop/NpcShopSystem.cs
  src/Rhisis.World/WorldClient.cs
Labels: system, world-server

#61 Update Logger
  src/Rhisis.Core/IO/Logger.cs
Labels: core, enhancement, refactoring

#60 Sell item
  src/Rhisis.Core/Network/Packets/World/BuyItemPacket.cs
  src/Rhisis.Core/Network/Packets/World/SellItemPacket.cs
  src/Rhisis.World/Game/Components/PlayerComponent.cs
  src/Rhisis.World/Game/Structures/Item.cs
  src/Rhisis.World/Handlers/NpcShopHandler.cs
  src/Rhisis.World/Systems/NpcShop/NpcShopActionType.cs
  src/Rhisis.World/Systems/NpcShop/NpcShopBuyItemEventArgs.cs
  src/Rhisis.World/Systems/NpcShop/NpcShopEventArgs.cs
  src/Rhisis.World/Systems/NpcShop/NpcShopSellItemEventArgs.cs
  src/Rhisis.World/Systems/NpcShop/NpcShopSystem.cs
Labels: system, world-server
