Repository Eastrall/Rhisis, pull requests merged in 2018-12, with the labels that each got.

#135 Add item loader
  src/Rhisis.Core/Resources/GameResources.cs
  src/Rhisis.Core/Resources/Loaders/ItemLoader.cs
  src/Rhisis.World/Game/Chat/CreateItemCommand.cs
  src/Rhisis.World/Game/Maps/MapInstance.cs
  src/Rhisis.World/Game/Structures/Item.cs
  src/Rhisis.World/Systems/Inventory/EventArgs/InventoryCreateItemEventArgs.cs
  src/Rhisis.World/Systems/NpcShop/EventArgs/NpcShopBuyEventArgs.cs
  src/Rhisis.World/WorldLoader.cs
  src/Rhisis.World/WorldServerStartup.cs
Labels: rhisis-core, rhisis-world-server

#137 Actually start database migration
  README.md
  src/Rhisis.Database/DatabaseFactory.cs
Labels: rhisis-tool

#136 Add behavior loader
  src/Rhisis.World/Game/Loaders/BehaviorLoader.cs
  src/Rhisis.World/Game/Maps/MapInstance.cs
  src/Rhisis.World/Game/Maps/MapLayer.cs
  src/Rhisis.World/Handlers/JoinGameHandler.cs
  src/Rhisis.World/WorldLoader.cs
  src/Rhisis.World/WorldServerStartup.cs
Labels: rhisis-world-server

#141 Small Fix for IsDead on BattleSystem
  src/Rhisis.World/Systems/Battle/BattleSystem.cs
Labels: bug, rhisis-world-server

#142 Add SendAddDamage Packet
  src/Rhisis.World/Game/Common/AttackFlags.cs
  src/Rhisis.World/Packets/BattlePackets.cs
  src/Rhisis.World/Systems/Battle/BattleSystem.cs
Labels: in-progress, rhisis-world-server

#143 Added SetTargetHandler
  src/Rhisis.Network/Packets/World/SetTargetPacket.cs
  src/Rhisis.World/Game/Components/InteractionComponent.cs
  src/Rhisis.World/Game/Entities/ILivingEntity.cs
  src/Rhisis.World/Game/Entities/MonsterEntity.cs
  src/Rhisis.World/Game/Entities/PlayerEntity.cs
  src/Rhisis.World/Handlers/InteractionHandler.cs
  src/Rhisis.World/Systems/Interaction/EventArgs/SetTargetEventArgs.cs
  src/Rhisis.World/Systems/Interaction/InteractionSystem.cs
Labels: rhisis-world-server

#147 Add startups to Login and Cluster servers
  src/Rhisis.Cluster/ClusterClient.cs
  src/Rhisis.Cluster/ClusterHandler.cs
  src/Rhisis.Cluster/ClusterLoader.cs
  src/Rhisis.Cluster/ClusterServer.cs
  src/Rhisis.Cluster/ClusterServerStartup.cs
  src/Rhisis.Cluster/IClusterServer.cs
  src/Rhisis.Cluster/Packets/ClusterPacketFactory.cs
  src/Rhisis.Cluster/Program.cs
  src/Rhisis.Cluster/Rhisis.Cluster.csproj
  src/Rhisis.Login/ILoginServer.cs
  src/Rhisis.Login/LoginClient.cs
  src/Rhisis.Login/LoginHandler.cs
  src/Rhisis.Login/LoginServer.cs
  src/Rhisis.Login/LoginServerStartup.cs
  src/Rhisis.Login/Program.cs
  src/Rhisis.Login/Rhisis.Login.csproj
  src/Rhisis.World/WorldServer.cs
Labels: enhancement, refactoring, rhisis-cluster-server, rhisis-login-server

#149 Implemented shortened /gg command
  src/Rhisis.World/Game/Chat/GetGoldCommand.cs
Labels: enhancement, rhisis-world-server

#151 Move IDesignTimeDbContextFactory to DatabaseFactory
  src/Rhisis.Database/Context/DatabaseContext.cs
  src/Rhisis.Database/CreateMigration.ps1
  src/Rhisis.Database/DatabaseFactory.cs
Labels: bug, rhisis-database

#152 Added some incoming packages
  src/Rhisis.Network/Packets/GuildCombatType.cs
  src/Rhisis.Network/Packets/World/ActMsgPacket.cs
  src/Rhisis.Network/Packets/World/ChangeFacePacket.cs
  src/Rhisis.Network/Packets/World/DropGoldPacket.cs
  src/Rhisis.Network/Packets/World/DropItemPacket.cs
  src/Rhisis.Network/Packets/World/Duel/DuelNoPacket.cs
  src/Rhisis.Network/Packets/World/Duel/DuelRequestPacket.cs
  src/Rhisis.Network/Packets/World/Duel/DuelYesPacket.cs
  src/Rhisis.Network/Packets/World/Duel/PartyDuelNoPacket.cs
  src/Rhisis.Network/Packets/World/Duel/PartyDuelRequestPacket.cs
  src/Rhisis.Network/Packets/World/Duel/PartyDuelYesPacket.cs
  src/Rhisis.Network/Packets/World/ErrorPacket.cs
  src/Rhisis.Network/Packets/World/ExpBoxInfoPacket.cs
  src/Rhisis.Network/Packets/World/FocusObjectPacket.cs
  src/Rhisis.Network/Packets/World/GetClockPacket.cs
  src/Rhisis.Network/Packets/World/GuildCombat/GetItemGuildCombatPacket.cs
  src/Rhisis.Network/Packets/World/GuildCombat/GetPenyaGuildGuildCombatPacket.cs
  src/Rhisis.Network/Packets/World/GuildCombat/GetPenyaPlayerGuildCombatPacket.cs
  src/Rhisis.Network/Packets/World/GuildCombat/InGuildCombatPacket.cs
  src/Rhisis.Network/Packets/World/GuildCombat/JoinGuildCombatPacket.cs
  src/Rhisis.Network/Packets/World/GuildCombat/OutGuildCombatPacket.cs
  src/Rhisis.Network/Packets/World/GuildCombat/PlayerPointGuildCombatPacket.cs
  src/Rhisis.Network/Packets/World/GuildCombat/RequestStatusPacket.cs
  src/Rhisis.Network/Packets/World/GuildCombat/SelectMapGuildCombatPacket.cs
  src/Rhisis.Network/Packets/World/GuildCombat/SelectPlayerGuildCombatPacket.cs
  src/Rhisis.Network/Packets/World/GuildCombat/TeleGuildCombatPacket.cs
  src/Rhisis.Network/Packets/World/KeepAlivePacket.cs
  src/Rhisis.Network/Packets/World/LocalPosFromIAPacket.cs
  src/Rhisis.Network/Packets/World/MoveBankItemPacket.cs
  src/Rhisis.Network/Packets/World/MoverFocusPacket.cs
  src/Rhisis.Network/Packets/World/Party/PartyAddMemberPacket.cs
  src/Rhisis.Network/Packets/World/Party/PartyChangeExperienceModePacket.cs
  src/Rhisis.Network/Packets/World/Party/PartyChangeItemModePacket.cs
  src/Rhisis.Network/Packets/World/Party/PartyChangeLeaderPacket.cs
  src/Rhisis.Network/Packets/World/Party/PartyChangeNamePacket.cs
  src/Rhisis.Network/Packets/World/Party/PartyChangeTroupPacket.cs
  src/Rhisis.Network/Packets/World/Party/PartyMemberRequestCancelPacket.cs
  src/Rhisis.Network/Packets/World/Party/PartyMemberRequestPacket.cs
  src/Rhisis.Network/Packets/World/Party/PartyRemoveMemberPacket.cs
  src/Rhisis.Network/Packets/World/Party/PartySkillUsePacket.cs
  src/Rhisis.Network/Packets/World/RemoveInventoryItemPacket.cs
  src/Rhisis.Network/Packets/World/ShipActMsgPacket.cs
  src/Rhisis.Network/Packets/World/TagPacket.cs
  src/Rhisis.Network/Packets/World/Trade/TradePullPacket.cs
Labels: enhancement

#156 Add melee attack formulas
  src/Rhisis.Core/Data/GuildCombatType.cs
  src/Rhisis.Core/Data/MoverClassType.cs
  src/Rhisis.Core/Data/ObjectState.cs
  src/Rhisis.Core/Data/ObjestMessageType.cs
  src/Rhisis.Core/Data/StateFlags.cs
  src/Rhisis.Core/Data/WeaponType.cs
  src/Rhisis.Core/Structures/Game/ItemData.cs
  src/Rhisis.Core/Structures/Game/JobData.cs
  src/Rhisis.Core/Structures/Game/MoverData.cs
  src/Rhisis.Network/Packets/World/GuildCombat/InGuildCombatPacket.cs
  src/Rhisis.Network/Packets/World/MagicAttackPacket.cs
  src/Rhisis.Network/Packets/World/MeleeAttack2Packet.cs
  src/Rhisis.Network/Packets/World/MeleeAttackPacket.cs
  src/Rhisis.Network/Packets/World/RangeAttackPacket.cs
  src/Rhisis.World/Game/Behaviors/DefaultMonsterBehavior.cs
  src/Rhisis.World/Game/Common/ObjectActionMessage.cs
  src/Rhisis.World/Game/Components/BattleComponent.cs
  src/Rhisis.World/Game/Components/ObjectComponent.cs
  src/Rhisis.World/Game/Components/PlayerDataComponent.cs
  src/Rhisis.World/Game/Components/StatisticsComponent.cs
  src/Rhisis.World/Game/Components/TimerComponent.cs
  src/Rhisis.World/Game/Entities/ILivingEntity.cs
  src/Rhisis.World/Game/Entities/IMonsterEntity.cs
  src/Rhisis.World/Game/Entities/IPlayerEntity.cs
  src/Rhisis.World/Game/Entities/MonsterEntity.cs
  src/Rhisis.World/Game/Maps/MapLayer.cs
  src/Rhisis.World/Handlers/BattleHandler.cs
  src/Rhisis.World/Handlers/JoinGameHandler.cs
  src/Rhisis.World/Packets/BattlePackets.cs
  src/Rhisis.World/Packets/SpawnPackets.cs
  src/Rhisis.World/Packets/StatisticsPackets.cs
  src/Rhisis.World/Packets/WorldPacketFactory.cs
  src/Rhisis.World/Systems/Battle/AttackResult.cs
  src/Rhisis.World/Systems/Battle/BattleHelper.cs
  src/Rhisis.World/Systems/Battle/BattleSystem.cs
  src/Rhisis.World/Systems/Battle/MeleeAttackArbiter.cs
  src/Rhisis.World/Systems/Battle/MeleeAttackEventArgs.cs
  src/Rhisis.World/Systems/Follow/FollowSystem.cs
  src/Rhisis.World/Systems/Inventory/InventorySystem.cs
  src/Rhisis.World/Systems/MobilitySystem.cs
  src/Rhisis.World/Systems/RespawnSystem.cs
  src/Rhisis.World/Systems/Statistics/StatisticsSystem.cs
  src/Rhisis.World/Systems/VisibilitySystem.cs
  src/Rhisis.World/WorldClient.cs
Labels: enhancement, rhisis-world-server, system

#157 Reduce CPU usage while invoking a packet
  src/Rhisis.Cluster/ClusterClient.cs
  src/Rhisis.Login/LoginClient.cs
  src/Rhisis.Network/PacketHandlers.cs
  src/Rhisis.World/WorldClient.cs
Labels: enhancement, rhisis-cluster-server, rhisis-login-server, rhisis-world-server
