Repository Eastrall/Rhisis, pull requests merged in 2018-04, with the labels that each got.

#63 Add dialog data structure and loading
  bin/data/dialogs/en/MaFl_Lui.json
  src/Rhisis.Core/Structures/Configuration/WorldConfiguration.cs
  src/Rhisis.Core/Structures/Game/DialogData.cs
  src/Rhisis.Core/Structures/Game/NpcData.cs
  src/Rhisis.World/WorldLoader.cs
Labels: core, world-server

#64 Send NPC dialog to player
  src/Rhisis.Core/Data/DialogOptions.cs
  src/Rhisis.Core/Network/Packets/World/DialogPacket.cs
  src/Rhisis.World/Game/Core/SystemEventArgs.cs
  src/Rhisis.World/Game/Entities/INpcEntity.cs
  src/Rhisis.World/Game/Entities/NpcEntity.cs
  src/Rhisis.World/Game/Map.cs
  src/Rhisis.World/Handlers/NpcDialogHandler.cs
  src/Rhisis.World/Packets/ChatPackets.cs
  src/Rhisis.World/Packets/NpcDialogPackets.cs
  src/Rhisis.World/Systems/NpcDialog/NpcDialogOpenEventArgs.cs
  src/Rhisis.World/Systems/NpcDialog/NpcDialogSystem.cs
Labels: system, world-server

#68 Add Teleport Chat command + Nav teleport
  src/Rhisis.World/Game/Chat/TeleportCommand.cs
  src/Rhisis.World/Packets/TeleportPackets.cs
Labels: world-server

#69 Feature/trade system
  .travis.yml
  src/Rhisis.Core/Exceptions/RhisisSystemException.cs
  src/Rhisis.Core/Network/Packets/World/Trade/TradeCancelPacket.cs
  src/Rhisis.Core/Network/Packets/World/Trade/TradePutGoldPacket.cs
  src/Rhisis.Core/Network/Packets/World/Trade/TradePutPacket.cs
  src/Rhisis.Core/Network/Packets/World/Trade/TradeRequestPacket.cs
  src/Rhisis.World/Game/Components/ItemContainerComponent.cs
  src/Rhisis.World/Game/Components/TradeComponent.cs
  src/Rhisis.World/Game/Entities/IPlayerEntity.cs
  src/Rhisis.World/Game/Entities/PlayerEntity.cs
  src/Rhisis.World/Game/Structures/Item.cs
  src/Rhisis.World/Handlers/JoinGameHandler.cs
  src/Rhisis.World/Handlers/TradeHandler.cs
  src/Rhisis.World/Packets/TradePacket.cs
  src/Rhisis.World/Systems/Inventory/InventorySystem.cs
  src/Rhisis.World/Systems/Trade/TradeBeginEventArgs.cs
  src/Rhisis.World/Systems/Trade/TradeCancelEventArgs.cs
  src/Rhisis.World/Systems/Trade/TradeConfirmEventArgs.cs
  src/Rhisis.World/Systems/Trade/TradeEventArgs.cs
  src/Rhisis.World/Systems/Trade/TradeOkEventArgs.cs
  src/Rhisis.World/Systems/Trade/TradePutEventArgs.cs
  src/Rhisis.World/Systems/Trade/TradePutGoldEventArgs.cs
  src/Rhisis.World/Systems/Trade/TradeRequestCancelEventArgs.cs
  src/Rhisis.World/Systems/Trade/TradeRequestEventArgs.cs
  src/Rhisis.World/Systems/Trade/TradeSystem.cs
  src/Rhisis.World/WorldClient.cs
Labels: system, world-server
