Repository Eastrall/Rhisis, pull requests merged in 2019-05, with the labels that each got.

#213 #212 Prevent dialogs from having duplicate links id.
  src/Rhisis.Core/Extensions/LinqExtensions.cs
  src/Rhisis.Core/Resources/GameResources.cs
  src/Rhisis.Core/Resources/Loaders/DialogLoader.cs
  test/Rhisis.Core.Test/Extensions/LinqExtensions.cs
Labels: enhancement, rhisis-core

#214 Experience and Level up
  src/Rhisis.Cluster/Rhisis.Cluster.csproj
  src/Rhisis.Core/Resources/GameResources.cs
  src/Rhisis.Core/Resources/Loaders/ExpTableLoader.cs
  src/Rhisis.Core/Rhisis.Core.csproj
  src/Rhisis.Core/Structures/Game/CharacterExpTableData.cs
  src/Rhisis.Core/Structures/Game/MoverData.cs
  src/Rhisis.Login/Rhisis.Login.csproj
  src/Rhisis.World/Game/Components/StatisticsComponent.cs
  src/Rhisis.World/Packets/PlayerPackets.cs
  src/Rhisis.World/Packets/SpawnPackets.cs
  src/Rhisis.World/Packets/StatisticsPackets.cs
  src/Rhisis.World/Systems/Battle/BattleSystem.cs
  src/Rhisis.World/Systems/Death/DeathSystem.cs
  src/Rhisis.World/Systems/Leveling/EventArgs/ExperienceEventArgs.cs
  src/Rhisis.World/Systems/Leveling/LevelSystem.cs
  src/Rhisis.World/WorldClient.cs
Labels: enhancement, rhisis-world-server

#215 #211 update dialog data structure. IntroText is now an array
  bin/data/dialogs/en/MaFl_Amos.json
  bin/data/dialogs/en/MaFl_Annie.json
  bin/data/dialogs/en/MaFl_Bobochan.json
  bin/data/dialogs/en/MaFl_Boboko.json
  bin/data/dialogs/en/MaFl_Boboku.json
  bin/data/dialogs/en/MaFl_CardMaster.json
  bin/data/dialogs/en/MaFl_Charlie.json
  bin/data/dialogs/en/MaFl_Donaris.json
  bin/data/dialogs/en/MaFl_FlaMayor.json
  bin/data/dialogs/en/MaFl_GUILDHOUSESALE.json
  bin/data/dialogs/en/MaFl_Gergantes.json
  bin/data/dialogs/en/MaFl_GuildWar.json
  bin/data/dialogs/en/MaFl_Helper_ver12.json
  bin/data/dialogs/en/MaFl_Is.json
  bin/data/dialogs/en/MaFl_Ismeralda.json
  bin/data/dialogs/en/MaFl_Ispim.json
  bin/data/dialogs/en/MaFl_Isruel.json
  bin/data/dialogs/en/MaFl_Jeff.json
  bin/data/dialogs/en/MaFl_Juria.json
  bin/data/dialogs/en/MaFl_Kidmen.json
  bin/data/dialogs/en/MaFl_Luda.json
  bin/data/dialogs/en/MaFl_Lui.json
  bin/data/dialogs/en/MaFl_Martinyc.json
  bin/data/dialogs/en/MaFl_Mikyel.json
  bin/data/dialogs/en/MaFl_Official.json
  bin/data/dialogs/en/MaFl_Peach.json
  bin/data/dialogs/en/MaFl_PetTamer.json
  bin/data/dialogs/en/MaFl_Ray.json
  bin/data/dialogs/en/MaFl_SecretRoom_EAST.json
  bin/data/dialogs/en/MaFl_Waforu.json
  src/Rhisis.Core/Structures/Game/Dialogs/DialogData.cs
  src/Rhisis.World/Systems/NpcDialog/NpcDialogSystem.cs
Labels: enhancement, resources, rhisis-world-server

#216 Death experience
  bin/data/res/deathPenality.json
  src/Rhisis.CLI/Commands/Setup/SetupCommand.cs
  src/Rhisis.Core/Helpers/ConfigurationHelper.cs
  src/Rhisis.Core/Resources/GameResources.cs
  src/Rhisis.Core/Resources/Loaders/PenalityLoader.cs
  src/Rhisis.Core/Structures/Configuration/DeathConfiguration.cs
  src/Rhisis.Core/Structures/Configuration/MailConfiguration.cs
  src/Rhisis.Core/Structures/Configuration/WorldConfiguration.cs
  src/Rhisis.Core/Structures/Game/DeathPenalityData.cs
  src/Rhisis.Core/Structures/Game/PenalityData.cs
  src/Rhisis.World/Game/Components/PlayerDataComponent.cs
  src/Rhisis.World/Game/Maps/MapInstance.cs
  src/Rhisis.World/Game/Maps/Regions/IMapRevivalRegion.cs
  src/Rhisis.World/Game/Maps/Regions/MapRevivalRegion.cs
  src/Rhisis.World/Packets/PlayerPackets.cs
  src/Rhisis.World/Systems/Death/DeathSystem.cs
  src/Rhisis.World/Systems/Mailbox/MailboxSystem.cs
  src/Rhisis.World/WorldServerStartup.cs
Labels: enhancement, rhisis-core, rhisis-world-server

#208 Easier Multiple Database providers and small Rhisis.Database refactor
  .gitignore
  README.md
  Rhisis.sln
  src/Rhisis.API/Rhisis.API.csproj
  src/Rhisis.API/Startup.cs
  src/Rhisis.Business/Rhisis.Business.csproj
  src/Rhisis.CLI/Commands/Database/DatabaseUpdateCommand.cs
  src/Rhisis.CLI/Commands/User/UserCreateCommand.cs
  src/Rhisis.CLI/Commands/User/UserShowCommand.cs
  src/Rhisis.CLI/Program.cs
  src/Rhisis.CLI/Rhisis.CLI.csproj
  src/Rhisis.Cluster/ClusterHandler.cs
  src/Rhisis.Cluster/ClusterServerStartup.cs
  src/Rhisis.Cluster/Rhisis.Cluster.csproj
  src/Rhisis.Core/DependencyInjection/DependencyContainer.cs
  src/Rhisis.Database/ConfigureDatabase.cs
  src/Rhisis.Database/Context/DatabaseContext.cs
  src/Rhisis.Database/Database.cs
  src/Rhisis.Database/DatabaseFactory.cs
  src/Rhisis.Database/DatabaseProvider.cs
  src/Rhisis.Database/IDatabase.cs
  src/Rhisis.Database/Migrations/20190308184619_InitialMigration.Designer.cs
  src/Rhisis.Database/Migrations/20190308184619_InitialMigration.cs
  src/Rhisis.Database/Migrations/DatabaseContextModelSnapshot.cs
  src/Rhisis.Database/Rhisis.Database.csproj
  src/Rhisis.Login/LoginHandler.cs
  src/Rhisis.Login/LoginServerStartup.cs
  src/Rhisis.Login/Rhisis.Login.csproj
  src/Rhisis.World/DbContextFactory.cs
  src/Rhisis.World/Handlers/JoinGameHandler.cs
  src/Rhisis.World/Rhisis.World.csproj
  src/Rhisis.World/Systems/Mailbox/MailboxSystem.cs
  src/Rhisis.World/Systems/PlayerData/PlayerDataSystem.cs
  src/Rhisis.World/WorldClient.cs
  src/Rhisis.World/WorldServerStartup.cs
Labels: enhancement, rhisis-database

#218 Set max hp,mp,fp to player when level up
  CHANGELOG.md
  src/Rhisis.World/Systems/Leveling/LevelSystem.cs
  src/Rhisis.World/WorldClient.cs
Labels: enhancement, rhisis-world-server

#217 Decoupled Rhisis.CLI from Rhisis.Core.DependencyInjection
  src/Rhisis.CLI/Application.cs
  src/Rhisis.CLI/Commands/Database/DatabaseCommand.cs
  src/Rhisis.CLI/Commands/Database/DatabaseConfigureCommand.cs
  src/Rhisis.CLI/Commands/Database/DatabaseInitializationCommand.cs
  src/Rhisis.CLI/Commands/Database/DatabaseUpdateCommand.cs
  src/Rhisis.CLI/Commands/Setup/SetupCommand.cs
  src/Rhisis.CLI/Commands/User/UserCommand.cs
  src/Rhisis.CLI/Commands/User/UserCreateCommand.cs
  src/Rhisis.CLI/Commands/User/UserShowCommand.cs
  src/Rhisis.CLI/Program.cs
  src/Rhisis.CLI/Services/ConsoleHelper.cs
  src/Rhisis.Database/ConfigureDatabase.cs
  src/Rhisis.Database/Database.cs
  src/Rhisis.Database/DatabaseFactory.cs
  src/Rhisis.Database/IDatabase.cs
Labels: enhancement, rhisis-tool

#219 Idle heal
  src/Rhisis.Core/Common/Formulas/HealthFormulas.cs
  src/Rhisis.Database/Rhisis.Database.csproj
  src/Rhisis.World/Game/Behaviors/DefaultMonsterBehavior.cs
  src/Rhisis.World/Game/Behaviors/DefaultPlayerBehavior.cs
  src/Rhisis.World/Game/Components/TimerComponent.cs
  src/Rhisis.World/Game/Core/Context.cs
  src/Rhisis.World/Game/Entities/IMonsterEntity.cs
  src/Rhisis.World/Game/Entities/IMovableEntity.cs
  src/Rhisis.World/Game/Entities/MonsterEntity.cs
  src/Rhisis.World/Game/Entities/PlayerEntity.cs
  src/Rhisis.World/Game/Maps/MapInstance.cs
  src/Rhisis.World/Game/Maps/MapLayer.cs
  src/Rhisis.World/Handlers/BattleHandler.cs
  src/Rhisis.World/Handlers/JoinGameHandler.cs
  src/Rhisis.World/Handlers/MovementHandler.cs
  src/Rhisis.World/Handlers/PlayerHandler.cs
  src/Rhisis.World/Packets/BattlePackets.cs
  src/Rhisis.World/Packets/MoverPackets.cs
  src/Rhisis.World/Packets/SpawnPackets.cs
  src/Rhisis.World/Systems/Battle/BattleHelper.cs
  src/Rhisis.World/Systems/Death/DeathSystem.cs
  src/Rhisis.World/Systems/Follow/FollowSystem.cs
  src/Rhisis.World/Systems/MobilitySystem.cs
  src/Rhisis.World/Systems/Recovery/EventArgs/IdleRecoveryEventArgs.cs
  src/Rhisis.World/Systems/Recovery/RecoverySystem.cs
  src/Rhisis.World/Systems/RespawnSystem.cs
  src/Rhisis.World/Systems/VisibilitySystem.cs
Labels: enhancement, rhisis-world-server

#220 Fix NPC loading and update timestep
  src/Rhisis.Core/Resources/Dyo/CommonControlDyoElement.cs
  src/Rhisis.Core/Resources/Dyo/DyoElement.cs
  src/Rhisis.Core/Resources/Dyo/DyoFile.cs
  src/Rhisis.Core/Resources/Dyo/NpcDyoElement.cs
  src/Rhisis.World/Game/Entities/NpcEntity.cs
  src/Rhisis.World/Game/Maps/MapInstance.cs
  src/Rhisis.World/Systems/NpcShop/NpcShopSystem.cs
Labels: rhisis-core, rhisis-world-server

#221 Update nuget pacakges
  src/Rhisis.API/Rhisis.API.csproj
  src/Rhisis.Business/Rhisis.Business.csproj
  src/Rhisis.CLI/Rhisis.CLI.csproj
  src/Rhisis.Cluster/Rhisis.Cluster.csproj
  src/Rhisis.Core/Rhisis.Core.csproj
  src/Rhisis.Database/Rhisis.Database.csproj
  src/Rhisis.Login/Rhisis.Login.csproj
  src/Rhisis.World/Rhisis.World.csproj
  test/Rhisis.Business.Tests/Rhisis.Business.Tests.csproj
  test/Rhisis.Core.Test/Rhisis.Core.Test.csproj
Labels: enhancement

#222 Teleport system
  CHANGELOG.md
  src/Rhisis.Core/Resources/Wld/WldFile.cs
  src/Rhisis.World/Game/Chat/TeleportCommand.cs
  src/Rhisis.World/Game/Maps/IMapInstance.cs
  src/Rhisis.World/Game/Maps/MapInstance.cs
  src/Rhisis.World/Systems/Death/DeathSystem.cs
  src/Rhisis.World/Systems/Teleport/TeleportEventArgs.cs
  src/Rhisis.World/Systems/Teleport/TeleportSystem.cs
Labels: enhancement, rhisis-world-server, system

#224 Add level up quick fix
  src/Rhisis.World/Systems/Leveling/LevelSystem.cs
Labels: enhancement

#231 #229 Fix Null ref when player doesn't have an item
  src/Rhisis.World/Handlers/BattleHandler.cs
  src/Rhisis.World/Systems/Battle/BattleHelper.cs
  src/Rhisis.World/Systems/Battle/MeleeAttackArbiter.cs
  src/Rhisis.World/WorldServerStartup.cs
  src/Rhisis.World/nlog.config
Labels: rhisis-world-server

#232 Remove SQL Server support from Rhisis.Database
  src/Rhisis.CLI/Commands/Database/DatabaseConfigureCommand.cs
  src/Rhisis.Database/ConfigureDatabase.cs
  src/Rhisis.Database/DatabaseConfiguration.cs
  src/Rhisis.Database/DatabaseProvider.cs
  src/Rhisis.Database/Rhisis.Database.csproj
Labels: enhancement, refactoring, rhisis-database

#233 Added Kion Soldiers and random Flarine NPC dialog
  bin/data/dialogs/en/MaDa_CloneHachal.json
  bin/data/dialogs/en/MaFl_Eoners.json
  bin/data/dialogs/en/MaFl_Ghalade.json
  bin/data/dialogs/en/MaFl_Gornus.json
  bin/data/dialogs/en/MaFl_Himadel.json
  bin/data/dialogs/en/MaFl_Isruel.json
  bin/data/dialogs/en/MaFl_Kurumin.json
  bin/data/dialogs/en/MaFl_Phoho.json
  bin/data/dialogs/en/MaFl_Rudvihil.json
  bin/data/dialogs/en/MaFl_Ryupang.json
  bin/data/dialogs/en/MaFl_Teshar.json
  bin/data/dialogs/en/MaFl_Tomba.json
Labels: enhancement, resources
