Repository Eastrall/Rhisis, pull requests merged in 2019-01, with the labels that each got.

#159 Added QueryTickCount packet to cluster server
  src/Rhisis.Cluster/ClusterHandler.cs
  src/Rhisis.Cluster/Packets/ClusterPacketFactory.cs
  src/Rhisis.Network/Packets/Cluster/QueryTickCountPacket.cs
Labels: enhancement, rhisis-cluster-server

#162 Drop System
  bin/config/cluster.json
  bin/config/world.json
  src/Rhisis.Core/Data/DefineItem.cs
  src/Rhisis.Core/Extensions/LinqExtensions.cs
  src/Rhisis.Core/Helpers/ConfigurationHelper.cs
  src/Rhisis.Core/IO/FileTokenScanner.cs
  src/Rhisis.Core/Resources/GameResources.cs
  src/Rhisis.Core/Resources/Include/Block.cs
  src/Rhisis.Core/Resources/Include/IncludeFile.cs
  src/Rhisis.Core/Resources/Include/Instruction.cs
  src/Rhisis.Core/Resources/Loaders/ExpTableLoader.cs
  src/Rhisis.Core/Resources/Loaders/ItemLoader.cs
  src/Rhisis.Core/Resources/Loaders/MoverLoader.cs
  src/Rhisis.Core/Rhisis.Core.csproj
  src/Rhisis.Core/Structures/Configuration/WorldConfiguration.cs
  src/Rhisis.Core/Structures/Configuration/WorldDrops.cs
  src/Rhisis.Core/Structures/Configuration/WorldRates.cs
  src/Rhisis.Core/Structures/Game/DropItemData.cs
  src/Rhisis.Core/Structures/Game/DropItemKindData.cs
  src/Rhisis.Core/Structures/Game/ItemData.cs
  src/Rhisis.Core/Structures/Game/MoverData.cs
  src/Rhisis.Database/Rhisis.Database.csproj
  src/Rhisis.World/Game/Components/DropComponent.cs
  src/Rhisis.World/Game/Components/ObjectComponent.cs
  src/Rhisis.World/Game/Core/Entity.cs
  src/Rhisis.World/Game/Core/IEntity.cs
  src/Rhisis.World/Game/Entities/IItemEntity.cs
  src/Rhisis.World/Game/Entities/ItemEntity.cs
  src/Rhisis.World/Game/Entities/NpcEntity.cs
  src/Rhisis.World/Game/Maps/MapInstance.cs
  src/Rhisis.World/Packets/SpawnPackets.cs
  src/Rhisis.World/Systems/Battle/BattleSystem.cs
  src/Rhisis.World/Systems/Drop/DropSystem.cs
  src/Rhisis.World/Systems/Drop/EventArgs/DropGoldEventArgs.cs
  src/Rhisis.World/Systems/Drop/EventArgs/DropItemEventArgs.cs
  src/Rhisis.World/Systems/RespawnSystem.cs
  src/Rhisis.World/WorldServerStartup.cs
Labels: enhancement, rhisis-world-server, system

#163 Add permanant drop items
  src/Rhisis.World/Game/Components/DropComponent.cs
  src/Rhisis.World/Game/Entities/IItemEntity.cs
  src/Rhisis.World/Game/Entities/ItemEntity.cs
  src/Rhisis.World/Game/Maps/MapLayer.cs
  src/Rhisis.World/Game/Structures/Item.cs
  src/Rhisis.World/Systems/Drop/DropSystem.cs
  src/Rhisis.World/Systems/RespawnSystem.cs
Labels: enhancement, rhisis-world-server

#164 Update Newtonsoft.Json to latest v12.0.1
  src/tools/Rhisis.Installer/App.config
  src/tools/Rhisis.Installer/Rhisis.Installer.csproj
  src/tools/Rhisis.Installer/packages.config
Labels: enhancement

#166 Facial and Hair Customization with Gold
  src/Rhisis.Core/Structures/Configuration/StyleCustomization.cs
  src/Rhisis.Core/Structures/Configuration/WorldConfiguration.cs
  src/Rhisis.Network/Packets/World/ChangeFacePacket.cs
  src/Rhisis.Network/Packets/World/SetHairPacket.cs
  src/Rhisis.World/Handlers/CustomizationHandler.cs
  src/Rhisis.World/Packets/CustomizationPackets.cs
  src/Rhisis.World/Systems/Customization/CustomizationSystem.cs
  src/Rhisis.World/Systems/Customization/EventArgs/ChangeFaceEventArgs.cs
  src/Rhisis.World/Systems/Customization/EventArgs/SetHairEventArgs.cs
Labels: enhancement, rhisis-world-server

#168 Style Customization Update: Coupon Support
  src/Rhisis.World/Game/Components/ItemContainerComponent.cs
  src/Rhisis.World/Packets/InventoryPackets.cs
  src/Rhisis.World/Systems/Customization/CustomizationSystem.cs
Labels: enhancement, rhisis-world-server, system

#170 Party System: Join, Leave & Kick
  src/Rhisis.Core/Structures/Configuration/PartyConfiguration.cs
  src/Rhisis.Core/Structures/Configuration/WorldConfiguration.cs
  src/Rhisis.World/Game/Common/PartyExperienceShareMode.cs
  src/Rhisis.World/Game/Common/PartyItemShareMode.cs
  src/Rhisis.World/Game/Common/PartyRequestCancelMode.cs
  src/Rhisis.World/Game/Components/PartyComponent.cs
  src/Rhisis.World/Game/Entities/IPlayerEntity.cs
  src/Rhisis.World/Game/Entities/PlayerEntity.cs
  src/Rhisis.World/Game/Structures/Party.cs
  src/Rhisis.World/Handlers/PartyHandler.cs
  src/Rhisis.World/Packets/PartyPackets.cs
  src/Rhisis.World/Systems/Party/EventArgs/PartyAddMemberEventArgs.cs
  src/Rhisis.World/Systems/Party/EventArgs/PartyMemberRequestCancelEventArgs.cs
  src/Rhisis.World/Systems/Party/EventArgs/PartyMemberRequestEventArgs.cs
  src/Rhisis.World/Systems/Party/EventArgs/PartyRemoveMemberEventArgs.cs
  src/Rhisis.World/Systems/Party/PartyManager.cs
  src/Rhisis.World/Systems/Party/PartySystem.cs
  src/Rhisis.World/WorldServerStartup.cs
Labels: enhancement, rhisis-world-server, system
