Repository Eastrall/Rhisis, pull requests merged in 2019-04, with the labels that each got.

#196 Fix dialog loader
  src/Rhisis.Core/Resources/Loaders/DialogLoader.cs
Labels: critical, enhancement, rhisis-core

#197 Dialog of MaFl_Boboku
  bin/data/dialogs/en/MaFl_Boboku.json
Labels: enhancement, resources

#202 Add a various flarine npc dialog file (Batch 2)
  bin/data/dialogs/en/MaFl_Amos.json
  bin/data/dialogs/en/MaFl_Annie.json
  bin/data/dialogs/en/MaFl_CardMaster.json
  bin/data/dialogs/en/MaFl_Charlie.json
  bin/data/dialogs/en/MaFl_Donaris.json
  bin/data/dialogs/en/MaFl_GUILDHOUSESALE.json
  bin/data/dialogs/en/MaFl_Gergantes.json
  bin/data/dialogs/en/MaFl_GuildWar.json
  bin/data/dialogs/en/MaFl_Helper_ver12.json
  bin/data/dialogs/en/MaFl_Martinyc.json
  bin/data/dialogs/en/MaFl_Mikyel.json
  bin/data/dialogs/en/MaFl_Official.json
  bin/data/dialogs/en/MaFl_Ray.json
  bin/data/dialogs/en/MaFl_Waforu.json
Labels: enhancement, resources, rhisis-world-server

#200 Fix Real-Time position calculation, map instance loop tick, and drop positions
  src/Rhisis.Core/Data/ModeType.cs
  src/Rhisis.Core/IO/Time.cs
  src/Rhisis.Core/Structures/Game/ItemData.cs
  src/Rhisis.Core/Structures/Vector3.cs
  src/Rhisis.World/Game/Behaviors/DefaultMonsterBehavior.cs
  src/Rhisis.World/Game/Behaviors/DefaultNpcBehavior.cs
  src/Rhisis.World/Game/Behaviors/DefaultPlayerBehavior.cs
  src/Rhisis.World/Game/Behaviors/IBehavior.cs
  src/Rhisis.World/Game/Components/BattleComponent.cs
  src/Rhisis.World/Game/Components/FollowComponent.cs
  src/Rhisis.World/Game/Components/MovableComponent.cs
  src/Rhisis.World/Game/Components/TimerComponent.cs
  src/Rhisis.World/Game/Core/IAsyncContext.cs
  src/Rhisis.World/Game/Core/Systems/SystemManager.cs
  src/Rhisis.World/Game/Loaders/MapLoader.cs
  src/Rhisis.World/Game/Loaders/NpcLoader.cs
  src/Rhisis.World/Game/Maps/IMapInstance.cs
  src/Rhisis.World/Game/Maps/MapInstance.cs
  src/Rhisis.World/Game/Maps/MapLayer.cs
  src/Rhisis.World/Handlers/BattleHandler.cs
  src/Rhisis.World/Handlers/JoinGameHandler.cs
  src/Rhisis.World/Handlers/MovementHandler.cs
  src/Rhisis.World/Packets/SpawnPackets.cs
  src/Rhisis.World/Packets/WorldPacketFactory.cs
  src/Rhisis.World/Systems/Drop/DropSystem.cs
  src/Rhisis.World/Systems/Follow/FollowSystem.cs
  src/Rhisis.World/Systems/MobilitySystem.cs
  src/Rhisis.World/Systems/VisibilitySystem.cs
  src/Rhisis.World/WorldClient.cs
Labels: critical, enhancement, rhisis-world-server

#203 Pick up drops
  src/Rhisis.Network/Packets/World/DropItemPacket.cs
  src/Rhisis.World/Game/Behaviors/DefaultPlayerBehavior.cs
  src/Rhisis.World/Game/Components/DropComponent.cs
  src/Rhisis.World/Game/Components/ItemContainerComponent.cs
  src/Rhisis.World/Game/Core/Context.cs
  src/Rhisis.World/Game/Core/Entity.cs
  src/Rhisis.World/Game/Core/IContext.cs
  src/Rhisis.World/Game/Core/IEntity.cs
  src/Rhisis.World/Game/Maps/MapInstance.cs
  src/Rhisis.World/Game/Maps/MapLayer.cs
  src/Rhisis.World/Game/Structures/Item.cs
  src/Rhisis.World/Handlers/InventoryHandler.cs
  src/Rhisis.World/Packets/MoverPackets.cs
  src/Rhisis.World/Packets/TextMessagePackets.cs
  src/Rhisis.World/Rhisis.World.csproj
  src/Rhisis.World/Systems/Drop/DropSystem.cs
  src/Rhisis.World/Systems/Drop/EventArgs/DropItemEventArgs.cs
  src/Rhisis.World/Systems/Inventory/EventArgs/InventoryDropItemEventArgs.cs
  src/Rhisis.World/Systems/Inventory/InventorySystem.cs
  src/Rhisis.World/Systems/MobilitySystem.cs
  src/Rhisis.World/WorldClient.cs
Labels: enhancement, rhisis-world-server, system

#204 WSAD movements and jump behavior
  src/Rhisis.Network/Packets/World/PlayerMovedPacket.cs
  src/Rhisis.World/Game/Components/MovableComponent.cs
  src/Rhisis.World/Handlers/PlayerHandler.cs
  src/Rhisis.World/Packets/MoverPackets.cs
  src/Rhisis.World/Systems/MobilitySystem.cs
Labels: enhancement, rhisis-world-server, system

#207 Add multiple dialog texts on DialogLinks. Allow next button on game
  bin/data/dialogs/en/MaFl_Amos.json
  bin/data/dialogs/en/MaFl_Annie.json
  bin/data/dialogs/en/MaFl_Bobochan.json
  bin/data/dialogs/en/MaFl_Boboko.json
  bin/data/dialogs/en/MaFl_Boboku.json
  bin/data/dialogs/en/MaFl_CardMaster.json
  bin/data/dialogs/en/MaFl_Charlie.json
  bin/data/dialogs/en/MaFl_Donaris.json
  bin/data/dialogs/en/MaFl_FlaMayor.json
  bin/data/dialogs/en/MaFl_GUILDHOUSESALE.json
  bin/data/dialogs/en/MaFl_Gergantes.json
  bin/data/dialogs/en/MaFl_GuildWar.json
  bin/data/dialogs/en/MaFl_Helper_ver12.json
  bin/data/dialogs/en/MaFl_Jeff.json
  bin/data/dialogs/en/MaFl_Juria.json
  bin/data/dialogs/en/MaFl_Luda.json
  bin/data/dialogs/en/MaFl_Lui.json
  bin/data/dialogs/en/MaFl_Martinyc.json
  bin/data/dialogs/en/MaFl_Mikyel.json
  bin/data/dialogs/en/MaFl_Official.json
  bin/data/dialogs/en/MaFl_Peach.json
  bin/data/dialogs/en/MaFl_PetTamer.json
  bin/data/dialogs/en/MaFl_Ray.json
  bin/data/dialogs/en/MaFl_SecretRoom_EAST.json
  bin/data/dialogs/en/MaFl_Waforu.json
  src/Rhisis.Core/Structures/Game/Dialogs/DialogLink.cs
  src/Rhisis.World/Packets/NpcDialogPackets.cs
  src/Rhisis.World/Systems/NpcDialog/NpcDialogSystem.cs
Labels: enhancement, resources, rhisis-world-server

#206 Death System and resurection
  src/Rhisis.Core/Resources/Rgn/RegionInfo.cs
  src/Rhisis.Core/Resources/Wld/WldFile.cs
  src/Rhisis.Core/Resources/Wld/WldFileInformations.cs
  src/Rhisis.World/Game/Core/Context.cs
  src/Rhisis.World/Game/Core/Entity.cs
  src/Rhisis.World/Game/Core/IContext.cs
  src/Rhisis.World/Game/Core/IEntity.cs
  src/Rhisis.World/Game/Loaders/MapLoader.cs
  src/Rhisis.World/Game/Maps/IMapInstance.cs
  src/Rhisis.World/Game/Maps/MapInstance.cs
  src/Rhisis.World/Game/Maps/Regions/IMapRevivalRegion.cs
  src/Rhisis.World/Game/Maps/Regions/MapRevivalRegion.cs
  src/Rhisis.World/Handlers/PlayerHandler.cs
  src/Rhisis.World/Packets/MoverPackets.cs
  src/Rhisis.World/Packets/PlayerPackets.cs
  src/Rhisis.World/Packets/WorldPacketFactory.cs
  src/Rhisis.World/Systems/Battle/BattleSystem.cs
  src/Rhisis.World/Systems/Death/DeathSystem.cs
Labels: enhancement, rhisis-world-server, system
