Repository Eastrall/Rhisis, pull requests merged in 2020-03, with the labels that each got.

#336 Rework item container component and inventory
  .travis.yml
  README.md
  src/Rhisis.Core/Extensions/ArrayExtensions.cs
  src/Rhisis.Core/Extensions/StringExtensions.cs
  src/Rhisis.Core/Structures/Game/ItemData.cs
  src/Rhisis.Network/Packets/CommonPacketFactory.cs
  src/Rhisis.Network/Packets/PingPacket.cs
  src/Rhisis.World/Client/WorldClient.cs
  src/Rhisis.World/Game/Components/InventoryContainerComponent.cs
  src/Rhisis.World/Game/Components/ItemContainerComponent.cs
  src/Rhisis.World/Game/Components/TradeComponent.cs
  src/Rhisis.World/Game/Entities/ILivingEntity.cs
  src/Rhisis.World/Game/Entities/IPlayerEntity.cs
  src/Rhisis.World/Game/Entities/MonsterEntity.cs
  src/Rhisis.World/Game/Entities/NpcEntity.cs
  src/Rhisis.World/Game/Entities/PlayerEntity.cs
  src/Rhisis.World/Game/Entities/WorldEntity.cs
  src/Rhisis.World/Game/Factories/Internal/MonsterFactory.cs
  src/Rhisis.World/Game/Factories/Internal/NpcFactory.cs
  src/Rhisis.World/Game/Factories/Internal/PlayerFactory.cs
  src/Rhisis.World/Game/Structures/Item.cs
  src/Rhisis.World/Handlers/BattleHandler.cs
  src/Rhisis.World/Packets/IInventoryPacketFactory.cs
  src/Rhisis.World/Packets/IWorldServerPacketFactory.cs
  src/Rhisis.World/Packets/Internal/InventoryPacketFactory.cs
  src/Rhisis.World/Packets/Internal/WorldServerPacketFactory.cs
  src/Rhisis.World/Packets/Internal/WorldSpawnPacketFactory.cs
  src/Rhisis.World/Systems/Battle/BattleHelper.cs
  src/Rhisis.World/Systems/Battle/MagicAttackArbiter.cs
  src/Rhisis.World/Systems/Battle/MagicSkillAttackArbiter.cs
  src/Rhisis.World/Systems/Battle/MeleeAttackArbiter.cs
  src/Rhisis.World/Systems/Battle/SkillAttackArbiter.cs
  src/Rhisis.World/Systems/Drop/DropSystem.cs
  src/Rhisis.World/Systems/Drop/IDropSystem.cs
  src/Rhisis.World/Systems/Inventory/IInventorySystem.cs
  src/Rhisis.World/Systems/Inventory/InventoryItemUsage.cs
  src/Rhisis.World/Systems/Inventory/InventorySystem.cs
  src/Rhisis.World/Systems/NpcShop/NpcShopSystem.cs
  src/Rhisis.World/Systems/Skills/SkillSystem.cs
  src/Rhisis.World/Systems/Taskbar/TaskbarSystem.cs
  src/Rhisis.World/Systems/Trade/TradeSystem.cs
  src/Rhisis.World/WorldServer.cs
  test/Rhisis.Cluster.Tests/Rhisis.Cluster.Tests.csproj
  test/Rhisis.Core.Tests/Extensions/ArrayExtensions.cs
  test/Rhisis.Core.Tests/Rhisis.Core.Tests.csproj
  test/Rhisis.Login.Tests/Rhisis.Login.Tests.csproj
  test/Rhisis.World.Tests/Abstract/ServiceTestBase.cs
  test/Rhisis.World.Tests/Attributes/RepeatTestAttribute.cs
  test/Rhisis.World.Tests/Mocks/Database/Entities/ItemEntityGenerator.cs
  test/Rhisis.World.Tests/Mocks/Database/RhisisDatabaseMock.cs
  test/Rhisis.World.Tests/Mocks/Factories/ItemFactoryMock.cs
  test/Rhisis.World.Tests/Rhisis.World.Tests.csproj
  test/Rhisis.World.Tests/Systems/InventorySystemTest.cs
Labels: srv: world, sys: inventory

#332 Ability to get the MODE_EXPUP_STOP with the /ExpUpStop command
  src/Rhisis.World/Game/Chat/Commands/ExpUpStopCommand.cs
  src/Rhisis.World/Systems/Experience/ExperienceSystem.cs
Labels: srv: world, sys: chat-commands

#337 Update characters table structure and regenerate migration
  src/Rhisis.Cluster/Handlers/CharacterHandler.cs
  src/Rhisis.Cluster/Packets/ClusterPacketFactory.cs
  src/Rhisis.Database/Entities/DbCharacter.cs
  src/Rhisis.Database/Migrations/20200308103123_InitialMigration.Designer.cs
  src/Rhisis.Database/Migrations/20200308103123_InitialMigration.cs
  src/Rhisis.Database/Migrations/DatabaseContextModelSnapshot.cs
  src/Rhisis.World/Game/Factories/Internal/PlayerFactory.cs
Labels: comp: database

#338 Update NuGet packages
  src/Rhisis.CLI/Rhisis.CLI.csproj
  src/Rhisis.Cluster/Rhisis.Cluster.csproj
  src/Rhisis.Core/Rhisis.Core.csproj
  src/Rhisis.Login/Rhisis.Login.csproj
  src/Rhisis.Network/FFPacket.cs
  src/Rhisis.Network/Rhisis.Network.csproj
  src/Rhisis.Scripting/Rhisis.Scripting.csproj
  src/Rhisis.World/Rhisis.World.csproj
Labels: comp: network, enhancement

#339 Feature/world task manager
  .travis.yml
  src/Rhisis.Core/Helpers/TaskHelper.cs
  src/Rhisis.Core/Structures/Vector3.cs
  src/Rhisis.World/Game/Behaviors/Default/DefaultMonsterBehavior.cs
  src/Rhisis.World/Game/Behaviors/Default/DefaultNpcBehavior.cs
  src/Rhisis.World/Game/Behaviors/Default/DefaultPlayerBehavior.cs
  src/Rhisis.World/Game/Behaviors/DefaultMonsterBehavior.cs
  src/Rhisis.World/Game/Behaviors/IBehavior.cs
  src/Rhisis.World/Game/Components/MovableComponent.cs
  src/Rhisis.World/Game/Components/TimerComponent.cs
  src/Rhisis.World/Game/Entities/Internal/ItemEntity.cs
  src/Rhisis.World/Game/Entities/Internal/MonsterEntity.cs
  src/Rhisis.World/Game/Entities/Internal/NpcEntity.cs
  src/Rhisis.World/Game/Entities/Internal/PlayerEntity.cs
  src/Rhisis.World/Game/Entities/Internal/WorldEntity.cs
  src/Rhisis.World/Game/Factories/Internal/ItemFactory.cs
  src/Rhisis.World/Game/Factories/Internal/MonsterFactory.cs
  src/Rhisis.World/Game/Factories/Internal/NpcFactory.cs
  src/Rhisis.World/Game/Factories/Internal/PlayerFactory.cs
  src/Rhisis.World/Game/Maps/IMapInstance.cs
  src/Rhisis.World/Game/Maps/IMapLayer.cs
  src/Rhisis.World/Game/Maps/IMapManager.cs
  src/Rhisis.World/Game/Maps/MapFactory.cs
  src/Rhisis.World/Game/Maps/MapInstance.cs
  src/Rhisis.World/Game/Maps/MapLayer.cs
  src/Rhisis.World/Game/Maps/MapManager.cs
  src/Rhisis.World/Handlers/BattleHandler.cs
  src/Rhisis.World/Handlers/MovementHandler.cs
  src/Rhisis.World/IWorldServerTaskManager.cs
  src/Rhisis.World/Packets/Internal/WorldSpawnPacketFactory.cs
  src/Rhisis.World/Systems/Battle/Arbiters/AttackArbiterBase.cs
  src/Rhisis.World/Systems/Battle/Arbiters/MagicAttackArbiter.cs
  src/Rhisis.World/Systems/Battle/Arbiters/MagicSkillAttackArbiter.cs
  src/Rhisis.World/Systems/Battle/Arbiters/MeleeAttackArbiter.cs
  src/Rhisis.World/Systems/Battle/Arbiters/MeleeSkillAttackArbiter.cs
  src/Rhisis.World/Systems/Battle/Arbiters/SkillAttackArbiter.cs
  src/Rhisis.World/Systems/Battle/BattleSystem.cs
  src/Rhisis.World/Systems/Drop/DropSystem.cs
  src/Rhisis.World/Systems/Follow/FollowSystem.cs
  src/Rhisis.World/Systems/Mobility/IMobilitySystem.cs
  src/Rhisis.World/Systems/Mobility/MobilitySystem.cs
  src/Rhisis.World/Systems/Respawn/RespawnSystem.cs
  src/Rhisis.World/Systems/Skills/SkillSystem.cs
  src/Rhisis.World/Systems/Teleport/TeleportSystem.cs
  src/Rhisis.World/Systems/Visibility/VisibilitySystem.cs
  src/Rhisis.World/WorldServer.cs
  src/Rhisis.World/WorldServerTaskManager.cs
  test/Rhisis.World.Tests/Systems/InventorySystemTest.cs
Labels: enhancement, refactoring, srv: world, sys: ai
