Repository Eastrall/Rhisis, pull requests merged in 2020-01, with the labels that each got.

#293 Remove packet factory utilities injection
  README.md
  src/Rhisis.World/Packets/IPacketFactoryUtilities.cs
  src/Rhisis.World/Packets/Internal/BattlePacketFactory.cs
  src/Rhisis.World/Packets/Internal/ChatPacketFactory.cs
  src/Rhisis.World/Packets/Internal/CustomizationPacketFactory.cs
  src/Rhisis.World/Packets/Internal/InventoryPacketFactory.cs
  src/Rhisis.World/Packets/Internal/MoverPacketFactory.cs
  src/Rhisis.World/Packets/Internal/NpcDialogPacketFactory.cs
  src/Rhisis.World/Packets/Internal/NpcShopPacketFactory.cs
  src/Rhisis.World/Packets/Internal/PacketFactoryBase.cs
  src/Rhisis.World/Packets/Internal/PlayerDataPacketFactory.cs
  src/Rhisis.World/Packets/Internal/PlayerPacketFactory.cs
  src/Rhisis.World/Packets/Internal/QuestPacketFactory.cs
  src/Rhisis.World/Packets/Internal/SpecialEffectPacketFactory.cs
  src/Rhisis.World/Packets/Internal/TaskbarPacketFactory.cs
  src/Rhisis.World/Packets/Internal/TextPacketFactory.cs
  src/Rhisis.World/Packets/Internal/TradePacketFactory.cs
  src/Rhisis.World/Packets/Internal/WorldSpawnPacketFactory.cs
Labels: refactoring, srv: world

#295 PR294
  src/Rhisis.Database/Context/DatabaseContext.cs
Labels: bug, comp: database

#297 #296 Update Table attributes to lower capital
  src/Rhisis.Database/Context/DatabaseContext.cs
  src/Rhisis.Database/Entities/DbCharacter.cs
  src/Rhisis.Database/Entities/DbItem.cs
  src/Rhisis.Database/Entities/DbMail.cs
  src/Rhisis.Database/Entities/DbQuest.cs
  src/Rhisis.Database/Entities/DbShortcut.cs
  src/Rhisis.Database/Entities/DbUser.cs
  src/Rhisis.Database/Migrations/20190308184619_InitialMigration.Designer.cs
  src/Rhisis.Database/Migrations/20191227193019_Quests.cs
  src/Rhisis.Database/Migrations/20200119144006_InitialMigration.Designer.cs
  src/Rhisis.Database/Migrations/20200119144006_InitialMigration.cs
  src/Rhisis.Database/Migrations/DatabaseContextModelSnapshot.cs
Labels: comp: database, enhancement

#298 Prevent several code mistakes
  src/Rhisis.CLI/Commands/Database/DatabaseUpdateCommand.cs
  src/Rhisis.CLI/Commands/Resources/Quests/LegacyQuestLoader.cs
  src/Rhisis.CLI/Commands/Resources/Quests/QuestConverterCommand.cs
  src/Rhisis.CLI/Commands/User/UserCreateCommand.cs
  src/Rhisis.CLI/Commands/User/UserShowCommand.cs
  src/Rhisis.CLI/Services/ConsoleHelper.cs
  src/Rhisis.Cluster/Client/ClusterClient.cs
  src/Rhisis.Core/Cryptography/Aes.cs
  src/Rhisis.Core/Resources/DefineFile.cs
  src/Rhisis.Core/Resources/Loaders/ExpTableLoader.cs
  src/Rhisis.Core/Resources/Loaders/MoverLoader.cs
  src/Rhisis.Core/Resources/ResourceTableFile.cs
  src/Rhisis.Core/Resources/Wld/WldFile.cs
  src/Rhisis.Core/Structures/Vector3.cs
  src/Rhisis.Login/Core/CoreServerClient.cs
  src/Rhisis.Login/Core/Handlers/AuthenticationHandler.cs
  src/Rhisis.Network/Packets/World/SfxIdPacket.cs
  src/Rhisis.World/Client/WorldClient.cs
  src/Rhisis.World/Game/Behaviors/DefaultPlayerBehavior.cs
  src/Rhisis.World/Game/Structures/QuestInfo.cs
  src/Rhisis.World/Packets/Internal/NpcDialogPacketFactory.cs
  src/Rhisis.World/Packets/Internal/WorldSpawnPacketFactory.cs
  src/Rhisis.World/Systems/Battle/MeleeAttackArbiter.cs
  src/Rhisis.World/Systems/Inventory/InventorySystem.cs
  src/Rhisis.World/Systems/PlayerData/PlayerDataSystem.cs
  src/Rhisis.World/Systems/Quest/QuestSystem.cs
  src/Rhisis.World/Systems/Taskbar/TaskbarSystem.cs
  test/Rhisis.Login.Tests/LoginHandlerTest.cs
Labels: comp: core, enhancement, refactoring, srv: cluster, srv: login, srv: world

#314 Remove matrix definition
  .travis.yml
Labels: enhancement
