Repository Eastrall/Rhisis, pull requests merged in 2020-02, with the labels that each got.

#317 #316 Fixed how to link
  README.md
Labels: documentation

#320 #319 UserUpdateCommand in case you need to update salt, email or password
  src/Rhisis.CLI/Commands/User/UserCommand.cs
  src/Rhisis.CLI/Commands/User/UserCreateCommand.cs
  src/Rhisis.CLI/Commands/User/UserShowCommand.cs
  src/Rhisis.CLI/Commands/User/UserUpdateCommand.cs
Labels: comp: tools

#318 Ability to use perin and convert it into gold
  src/Rhisis.Core/Structures/Configuration/World/PerinConfiguration.cs
  src/Rhisis.Core/Structures/Configuration/World/WorldConfiguration.cs
  src/Rhisis.World/Systems/Inventory/IInventoryItemUsage.cs
  src/Rhisis.World/Systems/Inventory/IInventorySystem.cs
  src/Rhisis.World/Systems/Inventory/InventoryItemUsage.cs
  src/Rhisis.World/Systems/Inventory/InventorySystem.cs
Labels: srv: world, sys: inventory

#300 Generate documentation file for Rhisis.Network
  src/Rhisis.Network/Rhisis.Network.csproj
Labels: comp: tools, documentation, enhancement

#322 Ability to set/disable onekill mode and one shot any enemy.
  src/Rhisis.World/Game/Chat/Commands/NoOneKillCommand.cs
  src/Rhisis.World/Game/Chat/Commands/OneKillCommand.cs
  src/Rhisis.World/Systems/Battle/MeleeAttackArbiter.cs
Labels: srv: world, sys: chat-commands

#324 Ability to summon someone with the /summon command
  src/Rhisis.World/Game/Chat/Commands/SummonCommand.cs
Labels: srv: world, sys: chat-commands

#323 Added Ability to hit all monsters in the visibility range of your player with /aroundkill command
  src/Rhisis.World/Game/Chat/Commands/AroundKillCommand.cs
Labels: srv: world, sys: chat-commands

#325 Creating unding/noundying command and the MATCHLESS Mode
  src/Rhisis.World/Game/Chat/Commands/NoUndyingCommand.cs
  src/Rhisis.World/Game/Chat/Commands/UndyingCommand.cs
  src/Rhisis.World/Systems/Battle/BattleSystem.cs
Labels: srv: world, sys: chat-commands

#328 Creating the freeze command and fixing the modetype flags assignation
  src/Rhisis.World/Game/Chat/Commands/FreezeCommand.cs
  src/Rhisis.World/Game/Chat/Commands/NoFreezeCommand.cs
  src/Rhisis.World/Game/Chat/Commands/NoOneKillCommand.cs
  src/Rhisis.World/Game/Chat/Commands/NoUndyingCommand.cs
  src/Rhisis.World/Game/Chat/Commands/OneKillCommand.cs
  src/Rhisis.World/Game/Chat/Commands/UndyingCommand.cs
  src/Rhisis.World/Systems/Battle/BattleSystem.cs
  src/Rhisis.World/Systems/Battle/MeleeAttackArbiter.cs
Labels: srv: world, sys: chat-commands

#329 Ability to send a System message to connected players
  src/Rhisis.World/Game/Chat/Commands/SystemCommand.cs
  src/Rhisis.World/Packets/ISystemMessagePacketFactory.cs
  src/Rhisis.World/Packets/Internal/SystemMessagePacketFactory.cs
  src/Rhisis.World/Systems/SystemMessage/ISystemMessageSystem.cs
  src/Rhisis.World/Systems/SystemMessage/SystemMessageSystem.cs
Labels: srv: world, sys: chat-commands

#335 Skill projectiles
  src/Rhisis.World/Game/Structures/MagicProjectileInfo.cs
  src/Rhisis.World/Game/Structures/MagicSkillProjectileInfo.cs
  src/Rhisis.World/Game/Structures/ProjectileInfo.cs
  src/Rhisis.World/Handlers/ProjectileHandler.cs
  src/Rhisis.World/Handlers/SkillHandler.cs
  src/Rhisis.World/Systems/Battle/BattleHelper.cs
  src/Rhisis.World/Systems/Battle/BattleSystem.cs
  src/Rhisis.World/Systems/Battle/MagicAttackArbiter.cs
  src/Rhisis.World/Systems/Battle/MeleeAttackArbiter.cs
  src/Rhisis.World/Systems/Skills/ISkillSystem.cs
  src/Rhisis.World/Systems/Skills/SkillSystem.cs
Labels: srv: world, sys: skills

#330 Ability to get the numbers of connected players with the /count command
  src/Rhisis.World/Game/Chat/Commands/CountServerCommand.cs
  src/Rhisis.World/IWorldServer.cs
  src/Rhisis.World/WorldServer.cs
Labels: srv: world, sys: chat-commands
