Repository Eastrall/Rhisis, pull requests merged in 2020-11, with the labels that each got.

#471 Add database configuration for public key mysql settings
  src/Rhisis.Core/Structures/Configuration/DatabaseConfiguration.cs
  src/Rhisis.Database/DatabaseFactory.cs
Labels: comp: database, configuration, in-progress

#476 Feature/level command skill points reset
  src/Rhisis.Game.Abstractions/Features/ISkillTree.cs
  src/Rhisis.Game/Features/Experience.cs
  src/Rhisis.Game/Features/SkillTree.cs
  src/Rhisis.World/Game/Chat/LevelCommand.cs
Labels: srv: world, sys: chat-commands

#475 Support ONEKILL_MODE in the battle system feature
  src/Rhisis.Game/Features/AttackArbiters/MeleeAttackArbiter.cs
  src/Rhisis.Game/Features/Battle.cs
Labels: srv: world, sys: battle

#478 Add magic skill projectile
  src/Rhisis.Game.Abstractions/Features/IBattle.cs
  src/Rhisis.Game.Abstractions/Features/IProjectiles.cs
  src/Rhisis.Game/Features/Battle.cs
  src/Rhisis.Game/Features/Projectiles.cs
  src/Rhisis.Game/Systems/SkillSystem.cs
  src/Rhisis.Game/Systems/TeleportSystem.cs
  src/Rhisis.World/Handlers/Battle/MagicAttackHandler.cs
  src/Rhisis.World/Handlers/Battle/RangeAttackHandler.cs
Labels: srv: world, sys: battle

#479 Rides (brooms, boards) can now be unequiped.
  src/Rhisis.Game.Common/ItemFlags.cs
  src/Rhisis.Game/Features/Inventory.cs
  src/Rhisis.Game/Protocol/Snapshots/DoEquipSnapshot.cs
Labels: enhancement, srv: world, sys: inventory

#480 Refactor Battle feature to no longer be linked with the object messag…
  src/Rhisis.Game.Abstractions/Features/Battle/AttackType.cs
  src/Rhisis.Game.Abstractions/Features/Battle/IBattle.cs
  src/Rhisis.Game.Abstractions/Features/Battle/RangeAttackTypeExtensions.cs
  src/Rhisis.Game.Abstractions/Features/IHealth.cs
  src/Rhisis.Game/Behavior/Default/MonsterBehavior.cs
  src/Rhisis.Game/Features/Battle.cs
  src/Rhisis.Game/Features/Health.cs
  src/Rhisis.Game/Protocol/Snapshots/Battle/MeleeAttackSnapshot.cs
  src/Rhisis.Game/Protocol/Snapshots/Battle/RangeAttackSnapshot.cs
  src/Rhisis.Game/Protocol/Snapshots/MoverDeathSnapshot.cs
  src/Rhisis.Game/Systems/SkillSystem.cs
  src/Rhisis.World/Handlers/Battle/MagicAttackHandler.cs
  src/Rhisis.World/Handlers/Battle/MeleeAttackHandler.cs
  src/Rhisis.World/Handlers/Battle/RangeAttackHandler.cs
Labels: refactoring, srv: world, sys: battle

#484 Prevent world crash on player skill save
  src/Rhisis.Game/Systems/Initializers/PlayerSkillInitializer.cs
Labels: comp: database, srv: world, sys: skills
